# Week 4: Document-Based Stores (MongoDB)
### Student ID: [B96323]
### Subtasks Done: [#,#,..]

### Task 1: Create a simple MongoDB out of this relational model

This is  a toy DB about movies and actors who played roles in these movies. This DB is consisted of  

- A "Person" table who has a unique id, and a name fields.

- Another "Movie" table that has a unique id, a title, a country where it was made, and a year when it was released.

- There is (m-n) or "many-many" relationship between these two tables (i.e basically, many actors can act in many movies, and the movie include many actors)
- Therefore, we use the "Roles" table in which we can deduct which person has acted in which movie, and what role(s) they played.

<img src="RDBSchema.png" alt="3" border="0">

#### Connect to the MongoDB server, and create a mongoDB with the name 'moviedb'

In [1]:
from pymongo import MongoClient
from random import randint
from pprint import pprint

import warnings
warnings.filterwarnings('ignore')

In [8]:
##YOUR CODE HERER
#we use the MongoClient to communicate with the running database instance.
myclient = MongoClient("mongodb://localhost:27017/") #Mongo URI format
# mydb = myclient["moviedb"]
mydb = myclient.moviedb

In [9]:
mydb

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'moviedb')

In [10]:
myclient.list_database_names()

['admin', 'config', 'customer_db', 'local']

#### Create Person/Actor collection

In [13]:
##YOUR CODE HERER
person_coll = mydb["person"]
actor_coll = mydb["actor"]

In [14]:
mydb.list_collection_names()

[]

*Quick Notes*
- This means that Mongo is following a lazy creation approach.
    - That is the database and corresponding collection are actually only created when a document is inserted.

#### Insert the data into the Person Table

In [156]:
personList = [
  { "id": 1, "name": "Charlie Sheen" },
  { "id": 2, "name": "Michael Douglas"},
  { "id": 3, "name": "Martin Sheen"},
  { "id": 4, "name": "Morgan Freeman"}
]

###YOUR CODE HERE
persons = person_coll.insert_many(personList)
print(persons.inserted_ids)

[ObjectId('5f79adbf4f2858acfbadcb29'), ObjectId('5f79adbf4f2858acfbadcb2a'), ObjectId('5f79adbf4f2858acfbadcb2b')]

In [16]:
mydb.list_collection_names()

['person']

#### Creating rest of Collections ("Movies", "Roles")

In [17]:
restcols = ["Movies","Roles"]

for col in restcols:
    ###YOUR CODE HERE
    mydb[col]

#### Inserting data into the movie Collection

In [19]:
moviescoll = mydb["Movies"]###YOUR CODE HERE

movieList = [
  { "id": 1, "title": "Wall Street", "country":"USA","year":1987},
  { "id": 2, "title": "The American President", "country":"USA","year":1995},
  { "id": 3, "title": "The Shawshank Redemption", "country":"USA","year":1994},
]

###YOUR CODE HERE
movies = moviescoll.insert_many(movieList)
print(movies.inserted_ids)

[ObjectId('5f7833ed4f2858acfbadcb20'), ObjectId('5f7833ed4f2858acfbadcb21'), ObjectId('5f7833ed4f2858acfbadcb22')]

In [20]:
mydb.list_collection_names()

['person', 'Movies']

#### Inserting data into the roles Collection

In [21]:
rolesCol = mydb['Roles']

roleList = [
  { "personId": 1, "movieId": 1, "role":["Bud Fox"]},
  { "personId": 2, "movieId": 1, "role":["Carl Fox"]},
  { "personId": 3, "movieId": 1, "role":["Gordon Gekko"]},
  { "personId": 2, "movieId": 2, "role":["A.J. MacInerney"]},
  { "personId": 3, "movieId": 2, "role":["President Andrew Shepherd"]},
  { "personId": 4, "movieId": 3, "role":["Ellis Boyd 'Red' Redding"]}
]

###YOUR CODE HERE
roles = rolesCol.insert_many(roleList)
print(roles.inserted_ids)

[ObjectId('5f7834414f2858acfbadcb23'), ObjectId('5f7834414f2858acfbadcb24'), ObjectId('5f7834414f2858acfbadcb25'), ObjectId('5f7834414f2858acfbadcb26'), ObjectId('5f7834414f2858acfbadcb27'), ObjectId('5f7834414f2858acfbadcb28')]

In [22]:
mydb.list_collection_names()

['Roles', 'person', 'Movies']

### <font color ='green'>Just for your info</font>:

#### Another Way of Modeling this M-N model in Mongo would be using the Forien Keys 


* Movies


```[

{
	"_id": 1,
	"title":"Wall Street",
	"country":"USA",
	"year":1987,
	"persons":[1,2]
},

{
	"_id": 2,
	"title":"The American President",
	"country":"USA",
	"year":1995,
	"persons":[2]
}]
```
* Actors

```
[{
    "_id": 1,
    "name": "Charlie Sheen",
    "movies":[
    {"role": "Bud Fox", "movie_id":1}
    ]
},

{
    "_id": 2,
    "name": "Micheal Douglas",
    "movies":[
    {"role": "Gordon Geko", "movie_id":1},
    {"role": "President Andrew Shepherd", "movie_id":2}
    ]
}

] ```

#### Get all actors in your Mongo DB

In [46]:
###YOUR CODE HERE
allActors=mydb.person.find() #we can ignore the empty '{}' doc.
for actor in allActors:
    print(actor)

{'_id': ObjectId('5f7831fc4f2858acfbadcb1c'), 'id': 1, 'name': 'Charlie Sheen'}
{'_id': ObjectId('5f7831fc4f2858acfbadcb1d'), 'id': 2, 'name': 'Michael Douglas'}
{'_id': ObjectId('5f7831fc4f2858acfbadcb1e'), 'id': 3, 'name': 'Martin Sheen'}
{'_id': ObjectId('5f7831fc4f2858acfbadcb1f'), 'id': 4, 'name': 'Morgan Freeman'}

#### Get actors with names start with 'C' letter

In [119]:
# Reference: https://stackoverflow.com/a/4877662/2670476
# import re
# regx = re.compile("^C", re.IGNORECASE)
# actor_startwith_C_letter = mydb.person.find_one({"name": regx}) #YOUR CODE HERE

# Reference: https://stackoverflow.com/a/50485848/2670476
# import bson
# regx = bson.regex.Regex('^C')
# actor_startwith_C_letter = mydb.person.find_one({'name': regx})

actor_startwith_C_letter = mydb.person.find({'name': {'$regex': '^C'}}) #YOUR CODE HERE

for actor in actor_startwith_C_letter:
    print(actor)

{'_id': ObjectId('5f7831fc4f2858acfbadcb1c'), 'id': 1, 'name': 'Charlie Sheen'}

#### Get all Movies sorted from recent to old! (get only the title and year fields)

In [66]:
###YOUR CODE HERE
movies_sorted= mydb.Movies.find({}, {"title":1, "year":1, "_id":0}).sort([("year",-1)])#YOUR CODE HERE
for movie in movies_sorted:
    print(movie)

{'title': 'The American President', 'year': 1995}
{'title': 'The Shawshank Redemption', 'year': 1994}
{'title': 'Wall Street', 'year': 1987}

#### Get all Movies released in the 90s (after year (1990) and before 2000) ordered from old to recent.

In [116]:
###YOUR CODE HERE
movies90s = mydb.Movies.find(
    {"$and": [{"year": {"$gt": 1990}},
              {"year": {"$lt": 2000}}
             ]}).sort([("year",1)])

for movie in movies90s:
    print(movie)

{'_id': ObjectId('5f7833ed4f2858acfbadcb22'), 'id': 3, 'title': 'The Shawshank Redemption', 'country': 'USA', 'year': 1994}
{'_id': ObjectId('5f7833ed4f2858acfbadcb21'), 'id': 2, 'title': 'The American President', 'country': 'USA', 'year': 1995}

#### Get Movies and Actors from your "movies" DB
* Hint : use the <code>'$lookup'</code> operator.
* The Result should be something like the following:
<code>
Charlie Sheen : Wall Street
Michael Douglas : Wall Street
Martin Sheen : Wall Street
Michael Douglas : The American President
Martin Sheen : The American President
Morgan Freeman : The Shawshank Redemption
</code>

In [140]:
# https://stackoverflow.com/a/42410764/2670476
test = mydb.Roles.aggregate([
    {
        "$lookup":{
            "from": "person",       
            "localField": "personId",   
            "foreignField": "id",
            "as": "person"
        }
        
#         "$lookup":{
#             "from": "Movies",       
#             "localField": "movieId",   
#             "foreignField": "id",
#             "as": "movie"
#         }
    },
#     {   "$unwind":"$movie" },    # $unwind used for getting data in object or for one record only

#     # Join with user_role table
#     {
#         "$lookup":{
#             "from": "person", 
#             "localField": "movieId", 
#             "foreignField": "userId",
#             "as": "user_role"
#         }
#     },
#     {   "$unwind":"$user_role" },

#     # define some conditions here 
#     {
#         "$match":{
#             "$and":[{"userName" : "admin"}]
#         }
#     },

    # define which fields are you want to fetch
#     {   
#         "$project":{
#             "_id" : 1,
#             "$movie.title": 1,
#             "email" : 1,
#             "userName" : 1,
#             "userPhone" : "$user_info.phone",
#             "role" : "$user_role.role",
#         } 
#     }
])

for x in test:
    print(x)

{'_id': ObjectId('5f7834414f2858acfbadcb23'), 'personId': 1, 'movieId': 1, 'role': ['Bud Fox'], 'person': [{'_id': ObjectId('5f7831fc4f2858acfbadcb1c'), 'id': 1, 'name': 'Charlie Sheen'}]}
{'_id': ObjectId('5f7834414f2858acfbadcb24'), 'personId': 2, 'movieId': 1, 'role': ['Carl Fox'], 'person': [{'_id': ObjectId('5f7831fc4f2858acfbadcb1d'), 'id': 2, 'name': 'Michael Douglas'}]}
{'_id': ObjectId('5f7834414f2858acfbadcb25'), 'personId': 3, 'movieId': 1, 'role': ['Gordon Gekko'], 'person': [{'_id': ObjectId('5f7831fc4f2858acfbadcb1e'), 'id': 3, 'name': 'Martin Sheen'}]}
{'_id': ObjectId('5f7834414f2858acfbadcb26'), 'personId': 2, 'movieId': 2, 'role': ['A.J. MacInerney'], 'person': [{'_id': ObjectId('5f7831fc4f2858acfbadcb1d'), 'id': 2, 'name': 'Michael Douglas'}]}
{'_id': ObjectId('5f7834414f2858acfbadcb27'), 'personId': 3, 'movieId': 2, 'role': ['President Andrew Shepherd'], 'person': [{'_id': ObjectId('5f7831fc4f2858acfbadcb1e'), 'id': 3, 'name': 'Martin Sheen'}]}
{'_id': ObjectId('5f7834414f2858acfbadcb28'), 'personId': 4, 'movieId': 3, 'role': ["Ellis Boyd 'Red' Redding"], 'person': [{'_id': ObjectId('5f7831fc4f2858acfbadcb1f'), 'id': 4, 'name': 'Morgan Freeman'}]}

In [141]:
###YOUR CODE HERE
movies_and_actors = mydb.Roles.aggregate([
                    { "$lookup":
                        {
                            "from": "Movies",
                            "localField": "movieid",
                            "foreignField": "id",
                            "as": "movie"
                        }
                    }
                    ])

for x in movies_and_actors:
    print(x)

{'_id': ObjectId('5f7834414f2858acfbadcb23'), 'personId': 1, 'movieId': 1, 'role': ['Bud Fox'], 'movie': []}
{'_id': ObjectId('5f7834414f2858acfbadcb24'), 'personId': 2, 'movieId': 1, 'role': ['Carl Fox'], 'movie': []}
{'_id': ObjectId('5f7834414f2858acfbadcb25'), 'personId': 3, 'movieId': 1, 'role': ['Gordon Gekko'], 'movie': []}
{'_id': ObjectId('5f7834414f2858acfbadcb26'), 'personId': 2, 'movieId': 2, 'role': ['A.J. MacInerney'], 'movie': []}
{'_id': ObjectId('5f7834414f2858acfbadcb27'), 'personId': 3, 'movieId': 2, 'role': ['President Andrew Shepherd'], 'movie': []}
{'_id': ObjectId('5f7834414f2858acfbadcb28'), 'personId': 4, 'movieId': 3, 'role': ["Ellis Boyd 'Red' Redding"], 'movie': []}

#### For each Actor, get count of "Movies" he acted in.

In [ ]:
###YOUR CODE HERE

#### In your DB, list the movies that every Actor played

In [ ]:
###YOUR CODE HERE

#### Get the Persons/Actors who acted in "Wall Street" movie
- Hint use `$lookup` , `$match` operators in the aggregation piepeline

In [ ]:
###YOUR CODE HERE

#### Get the Movies in which "Micheal Douglas" has played a role in

In [ ]:
###YOUR CODE HERE
michael_douglas_movies= mydb.customer.aggregate([
    {  "$group": {"_id":{"gender": "$gender"},
                  "count": {"$sum": 1} }}])

for movie in michael_douglas_movies:
    print(movie)

#### Get count of "Movies" in your DB

In [ ]:
###YOUR CODE HERE
mydb.Movies.find().count()

#### update the year of the 'Wall Street' movie was released in to be 2000(which is not true BTW :)
- Show that movie before and After updating it

In [145]:
a = mydb.Movies.find()

for x in a:
    print(x)

{'_id': ObjectId('5f7833ed4f2858acfbadcb20'), 'id': 1, 'title': 'Wall Street', 'country': 'USA', 'year': 1987}
{'_id': ObjectId('5f7833ed4f2858acfbadcb21'), 'id': 2, 'title': 'The American President', 'country': 'USA', 'year': 1995}
{'_id': ObjectId('5f7833ed4f2858acfbadcb22'), 'id': 3, 'title': 'The Shawshank Redemption', 'country': 'USA', 'year': 1994}

In [153]:
###YOUR CODE HERE
ws =mydb.Movies.find_one({"title":"Wall Street"}, {"title":1, "year":1, "_id":0}) 
print(ws)

mydb.Movies.update({"title":"Wall Street"},{"$set": {"year":2000}  })

ws =mydb.Movies.find_one({"title":"Wall Street"}, {"title":1, "year":1, "_id":0}) 
print(ws)

{'title': 'Wall Street', 'year': 1987}
{'title': 'Wall Street', 'year': 2000}

####  Delete all the persons with names start with 'M' letter.

In [155]:
###YOUR CODE HERE
print("\n //////////////////BEFORE//////")
for p in mydb.person.find({}):
    print(p)
    
mydb.person.delete_many({"name": {"$regex" : '^M'}})

print("\n //////////////////AFTER//////")
for p in mydb.person.find({}):
    print(p)

 //////////////////BEFORE//////
{'_id': ObjectId('5f7831fc4f2858acfbadcb1c'), 'id': 1, 'name': 'Charlie Sheen'}
{'_id': ObjectId('5f7831fc4f2858acfbadcb1d'), 'id': 2, 'name': 'Michael Douglas'}
{'_id': ObjectId('5f7831fc4f2858acfbadcb1e'), 'id': 3, 'name': 'Martin Sheen'}
{'_id': ObjectId('5f7831fc4f2858acfbadcb1f'), 'id': 4, 'name': 'Morgan Freeman'}

 //////////////////AFTER//////
{'_id': ObjectId('5f7831fc4f2858acfbadcb1c'), 'id': 1, 'name': 'Charlie Sheen'}

### Task 2: Extend your Mongo-"MovieDB" 

Imagine now that we are going to extend our DB with new movies, actors, even with new directors.

- We add <b>**"The matrix"**</b> movie which was released in <b> USA, (1999)</b>, and has a new property/field "Tagline" <b>("Welcome to the Real World")</b>.
 
- We will also add 4 new actors (Person):
    - **"Keanu Reeves"** who was born in (1964). <font color='green'>Note:</font> "born" property is also new.
    - **"Carrie-Anne Moss"** who was born in (1967).
    - **"Laurence Fishburne"** who was born in (1960).
    - **"Hugo Weaving"** who was born in (1960).
    
- Moreover, we add 2 directors (Person) :
    - **"Lilly Wachowski"**, born in (1967)
    - **"Lana Wachowski"**, born in(1965)
- For these directors specify one more label/field as ("Director"). (You can add this while inserting the director documents)
    
 
- We will also create a new <b>collection "Directed" </b> that is directed from the later 2 directors to "the Matrix" movie.

#### Add the Movie "The Matrix" with the provided data to the Movies collection

In [161]:
for p in mydb.Movies.find({}):
    print(p)

{'_id': ObjectId('5f7833ed4f2858acfbadcb20'), 'id': 1, 'title': 'Wall Street', 'country': 'USA', 'year': 2000}
{'_id': ObjectId('5f7833ed4f2858acfbadcb21'), 'id': 2, 'title': 'The American President', 'country': 'USA', 'year': 1995}
{'_id': ObjectId('5f7833ed4f2858acfbadcb22'), 'id': 3, 'title': 'The Shawshank Redemption', 'country': 'USA', 'year': 1994}
{'_id': ObjectId('5f79b1d14f2858acfbadcb2c'), 'id': 4, 'title': 'The Matrix', 'country': 'USA', 'year': 1999, 'tagline': 'Welcome to the Real World'}

In [160]:
###YOUR CODE HERE
movieList = [
  { "id": 4, "title": "The Matrix", "country":"USA","year":1999, 
   "tagline":"Welcome to the Real World"}
]

###YOUR CODE HERE
movies = moviescoll.insert_many(movieList)
print(movies.inserted_ids)

[ObjectId('5f79b1d14f2858acfbadcb2c')]

#### Insert the new 4 actors to the person collection

In [162]:
#Notice, How is easy to add a new feild compared to the RDB
newActorList = [
  { "id": 5, "name": "Keanu Reeves", "born":1964 },
  { "id": 6, "name": "Carrie-Anne Moss", "born":1967},
  { "id": 7, "name": "Laurence Fishburne", "born":1960},
  { "id": 8, "name": "Hugo Weaving", "born":1960}
]

###YOUR CODE HERE
actors = person_coll.insert_many(newActorList)
print(actors.inserted_ids)

[ObjectId('5f79b2064f2858acfbadcb2d'), ObjectId('5f79b2064f2858acfbadcb2e'), ObjectId('5f79b2064f2858acfbadcb2f'), ObjectId('5f79b2064f2858acfbadcb30')]

In [165]:
for p in mydb.person.find({}):
    print(p)

{'_id': ObjectId('5f7831fc4f2858acfbadcb1c'), 'id': 1, 'name': 'Charlie Sheen'}
{'_id': ObjectId('5f79adbf4f2858acfbadcb29'), 'id': 2, 'name': 'Michael Douglas'}
{'_id': ObjectId('5f79adbf4f2858acfbadcb2a'), 'id': 3, 'name': 'Martin Sheen'}
{'_id': ObjectId('5f79adbf4f2858acfbadcb2b'), 'id': 4, 'name': 'Morgan Freeman'}
{'_id': ObjectId('5f79b2064f2858acfbadcb2d'), 'id': 5, 'name': 'Keanu Reeves', 'born': 1964}
{'_id': ObjectId('5f79b2064f2858acfbadcb2e'), 'id': 6, 'name': 'Carrie-Anne Moss', 'born': 1967}
{'_id': ObjectId('5f79b2064f2858acfbadcb2f'), 'id': 7, 'name': 'Laurence Fishburne', 'born': 1960}
{'_id': ObjectId('5f79b2064f2858acfbadcb30'), 'id': 8, 'name': 'Hugo Weaving', 'born': 1960}
{'_id': ObjectId('5f79b38c4f2858acfbadcb31'), 'id': 9, 'name': 'Lilly Wachowski', 'born': 1967, 'label': 'Director'}
{'_id': ObjectId('5f79b38c4f2858acfbadcb32'), 'id': 10, 'name': 'Lana Wachowski', 'born': 1965, 'label': 'Director'}

#### Insert the new 2 directors to the person collection

In [164]:
###YOUR CODE HERE
newDirectorsList = [
  { "id": 9, "name": "Lilly Wachowski", "born":1967, "label": "Director" },
  { "id": 10, "name": "Lana Wachowski", "born":1965, "label": "Director"}
]

###YOUR CODE HERE
directors = person_coll.insert_many(newDirectorsList)
print(directors.inserted_ids)

[ObjectId('5f79b38c4f2858acfbadcb31'), ObjectId('5f79b38c4f2858acfbadcb32')]

#### Create the "Directed" collection, and insert the data into it

In [166]:
###YOUR CODE HERE
directed_coll = mydb["Directed"]

directedList = [
  { "personId": 9, "movieId": "4" },
  { "personId": 10, "movieId": "4"}
]

directed_coll.insert_many(directedList)

#### Get only the directors from the person collection (i.e. persons marked with the label "Director")

In [167]:
###YOUR CODE HERE
only_directors = mydb.person.find({"label": "Director"})

for p in only_directors:
    print(p)

{'_id': ObjectId('5f79b38c4f2858acfbadcb31'), 'id': 9, 'name': 'Lilly Wachowski', 'born': 1967, 'label': 'Director'}
{'_id': ObjectId('5f79b38c4f2858acfbadcb32'), 'id': 10, 'name': 'Lana Wachowski', 'born': 1965, 'label': 'Director'}

#### Perform a query that get persons (names, and born year) who Directed "The Matrix" movie.

In [169]:
###YOUR CODE HERE
the_matrix_directors = mydb.person.find({"label":"Director"}, {"name":1, "born":1, "_id":0}) 

for d in the_matrix_directors:
    print(d)

{'name': 'Lilly Wachowski', 'born': 1967}
{'name': 'Lana Wachowski', 'born': 1965}

 ## How long did it take you to solve the homework?
 
Please answer as precisely as you can. It does not affect your points or grade in any way. It is okey, if it took 0.5 hours or 24 hours. The collected information will be used to improve future homeworks.

<font color="red"><b>Answer:</b></font>

**<center> <font color='red'>THANK YOU FOR YOUR EFFORT!</font></center>**